*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family)
}

:root {
    --color-primary: rgb(206, 159, 71); 
    --color-secundary: rgb(28, 105, 221);
    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-h1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}



header {
    background-color: var(--color-primary);
    padding:15px;
    display: flex;
    align-items:center;
    justify-content:space-between;

}

header img {
    width: 60px;
    margin-left: 20px;
}


header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    
}

header nav ul a {
    text-decoration: none;
    color: rgb(30, 29, 29);
}

section {
    min-height: 100vh;
}

#banner {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/images/aire\ banner.jpg);
    background-size:cover;
    color:white;
 
}

#banner h1 {
    width: 100%;
    margin-left: 30px;
    font-size: 60px;
    text-decoration: none;
    font-family: var(--font-h1);
    text-align:center;
    color:rgb(66, 61, 61);
    
    

}

#banner p {
    padding: 10px 30px;
    margin-top: 10px;
    margin-left: 30px;
    text-align:left;
    text-decoration: none;
    font-size: 18px;
    color:whitesmoke;
  
}

